.titleTD {  
	
}

.valueTD {
	
}

#servers {
}
.server{
    float: left;
    margin: 0px;
    padding: 10px;
    background:#ddd;
	border: 1px #80b5ff solid;
	border-radius: 10px;
	
}

.tables{
    float: left;
	padding: 0px;
	border-spacing: 0px 0px;
	margin: 10px;
}

.server .title{
    background:#c0ffc0; 
    font-family:Arial; 
    font-size:14;
	padding:5px; 
	margin: 10px auto;
    margin-top: 0px;
    text-align: center;
	border-radius: 10px;
}
.server .content{
    background:#eee;
    width: 100%;
	border: 1px #bdf solid;
	border-radius: 10px;
}
.server .content .attrs{
    font-family:Arial; 
    font-size:10;
}

.server .content .attrs > td{
    width: 60%;
	
}
.server .content .subtable{
    border: 1px solid silver;
    width: 100%;
}
.server .content .subtable .attrs > td{
    width: 60%;
}
