#servers {
}
.server{
    float: left;
    margin: 10px;
    padding: 10px;
    background:#999999;
}
.server .title{
    background:#bfb; 
    font-family:Arial; 
    font-size:14;
	padding:5px; 
	margin: 10px auto;
    margin-top: 0px;
    text-align: center;
}
.server .content{
    background:#ddd;
    width: 100%;
}
.server .content .attrs{
    font-family:Arial; 
    font-size:10;
}
.server .content .attrs > td{
    width: 60%;
}
.server .content .subtable{
    border: 1px solid silver;
    width: 100%;
}
.server .content .subtable .attrs > td{
    width: 60%;
}
